<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    {{ user_text }}<br>
    <a href="{{ url|safe }}">{{ url_linktext }}</a><br>
    Current time: {{ current_time }}
    <hr>

    <i>Time spent retrieving samples: {{ elapsed_time }}</i>
    <hr>

    Run map reduce job to generate sensor summary data:
    <form action="/sensorlog?application={{ application }}" method="post">
      <input type="submit" id="run_directly" name="run_directly" value="run directly!"><br>
      <input type="submit" id="start_task_queue" name="start_task_queue" value="start task queue">
      <input type="submit" id="stop_task_queue" name="stop_task_queue" value="stop task queue">
    </form>
    <hr>

    Create test data for this application
    <form action="/createtestdata?application={{ application }}" method="post">
      <input type="submit" id="createtestdata" name="index" value="create">
    </form>
    <hr>

    <h3>Manually enter a sample:</h3>
    <form action="/logsample" method="post">
      Application: <input value="{{ application }}" name="application"><br>
      Sensor: <input value="" name="sensor"><br>
      Value: <input value="" name="value"><br>
      <input type="submit" value="submit">
    </form>
    <hr>

    <h3>Log</h3>
    <form action="/sensorlog?application={{ application }}" method="post">
      <input type="submit" id="clear_log" name="clear_log" value="clear log"><br>
    </form>
    {% for entry in log_entries %}
    &nbsp;&nbsp; {{ entry.time }}: {{ entry.message }}<br>
    {% endfor %}
    <hr>

    <h3>Sensors:</h3><br>
    {% for sensor in sensors %}
      <b>{{ sensor.name|safe }}</b><br>

      {% if sensor.summary %}
      Summary, calculated at {{ sensor.summary.calculated_at }}:<br>
      &nbsp;&nbsp; avg value {{ sensor.summary.avg_value }}<br>
      &nbsp;&nbsp; min value {{ sensor.summary.min_value }} at {{ sensor.summary.min_value_at }}<br>
      &nbsp;&nbsp; max value {{ sensor.summary.max_value }} at {{ sensor.summary.max_value_at }}<br>
      {% endif %}
      <br>

      {% for sample in sensor.samples %}
        Time: {{ sample.time }}, value: {{ sample.value }}<br>
      {% endfor %}
      <br>
    {% endfor %}
    <hr>
  </body>
</html>
{% endautoescape %}